extends layout

block content
  #droneStream
  h1 Computas Drone Challenge
    h2 Want to win something awesome? Join the competition by tweeting with #computasDrone as your hashtag.

  #screen1.box-column
    h1 Competitors
    #users(data-bind="foreach:users")
      div.user-image
        img(data-bind="attr:{src:profile_image_url,title:name,alt:screen_name}")
        div(data-bind="text:screen_name")

  #screen2.box-column
    #tweets(data-bind="foreach:tweets")
      div.twit
        div.twit-img
          img(data-bind="attr:{src:user.profile_image_url}")
        div.twit-info
          div.twit-name(data-bind="text:user.name")
          div.twit-screen-name(data-bind="text:user.screen_name")
          div.twit-text(data-bind="text:text")
          div.twit-date(data-bind="text:formattedDate")
  
