extends layout

block content
  table(id='screens')
    tr
      td(id='screen1')
        #users(data-bind="foreach:users")
          div
            div(data-bind="text:name")
            img(data-bind="attr:{src:profile_image_url}")
      td(id='screen2')
        #tweets(data-bind="foreach:tweets")
          div(data-bind="text:text")
    tr
      td(id='screen3')
      td(id='screen4')
        #droneStream
  