* {
    padding: 0;
    margin: 0;
}
html, body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    color: #000;
    background-color: #ccc;
}
a {
    color: #00B7FF;
}
.box-column {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #eee;
    display: block;
    position:absolute;
    margin-top: 1em;
    margin-bottom: 1em;
}
#screen1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin-left: 1em;
    margin-right: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
}
#droneStream {
    display: block;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
#screen2 {
    top: 380px;
    bottom: 0;
    left: 50%;
    right: 0;
    margin-left: 0.5em;
    margin-right: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
}
.twit {
    float: left;
    clear: both;
    padding-left: 1em;
    padding-top: 1em;
    width: 100%;
}
.twit-img {
    float: left;
    clear: left;
}
.twit-info {
    float: left;
    padding-left:1em;
}
.twit-name {
    float: left;
    font-weight:bold;
}
.twit-screen-name {
    float: left;
    opacity: 0.4;
    padding-left: 0.5em;
}
.twit-screen-name:before {
    content: '@';
}
.twit-text {
    float: left;
    clear: both;
}
.twit-date {
    float: left;
    clear: both;
    opacity: 0.4;
    font-size: 0.6em;
}
#users {
    float: left;
}
.user-image {
    text-align: center;
    float: left;
    clear: none;
    padding-left: 1em;
}
.user-image img {
    padding: 0.5em;
    padding-bottom: 0;
}
.user-image div:before {
    content: '@';
}
