* {
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 14px;
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
    color: #000;
}

a {
    color: #00B7FF;
}

.box-column {
    display: block;
    position:absolute;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    color: #00B7FF;
    font-family: 'Segoe UI Light', sans-serif;
    font-size: 48px;
    background: -webkit-linear-gradient(#FFF, #FFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-shadow: 1px 4px 10px black;
    z-index: 1;
}

h2 {
    position: absolute;
    top: 120px;
    left: 50px;
    max-width: 730px;
    background: -webkit-linear-gradient(#FFF, #EEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-shadow: 1px 4px 10px black;
    z-index: 1;
}

#screen1 h1, #screen2 h1 {
    top: -75px;
    left: 0px;
    background: -webkit-linear-gradient(#FFF, #FFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-shadow: 1px 4px 10px black;
    z-index: 1;
    max-height: 600px;
    overflow: auto;
}

#screen1 {
    bottom: 50px;
    left: 0;
    right: 50%;
    margin-left: 50px;
    background: rgba(255, 255, 255, 0.75);
    padding: 10px;
}

#screen2 {
    top: 125px;
    right: 50px;
    bottom: 50px;
    width: 400px;
}

#droneStream {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
}

#droneStream canvas {
    width: 100%;
    height: auto;
}

.twit {
    float: left;
    clear: both;
    padding-left: 1em;
    padding-top: 1em;
    width: 100%;
    background: #FFF;
    box-shadow: 1px;
    border-bottom: 1px solid #CCC;
    min-height: 80px;
    vertical-align: top;
}
.twit-img {
    float: left;
    clear: left;
}
.twit-info {
    float: left;
    padding-left:1em;
    width: 80%;
}
.twit-name {
    float: left;
    font-weight:bold;
}
.twit-screen-name {
    float: left;
    opacity: 0.4;
    padding-left: 0.5em;
}
.twit-screen-name:before {
    content: '@';
}
.twit-text {
    float: left;
    clear: both;
}
.twit-date {
    float: left;
    clear: both;
    opacity: 0.4;
    font-size: 0.6em;
}
#users {
    float: left;
}
.user-image {
    text-align: center;
    float: left;
    clear: none;
    padding-left: 1em;
}
.user-image img {
    padding: 0.5em;
    padding-bottom: 0;
}
.user-image div:before {
    content: '@';
}
